<% content_for :javascripts do %>
  <script type="text/javascript" src="/javascript/tema.js" charset="utf-8"></script>
<% end %>

<% content_for :title do %>
  OpenCopa 2014 - Por debaixo dos gramados
<% end %>
<div class="corpo">
	<div class="quadro_moudura">
		<div class="quadro_interno livre about" style="width: 872px; padding-bottom: 23px; color:#838282;">
			<h1>Seja bem-vindo ao OpenCopa! Uma ferramenta de

			transparência de todos os empreendimentos da Copa do

			Mundo 2014</h1>

			<p>Em junho de 2014 começam os jogos da Copa do Mundo, mas muito

			ainda se questiona sobre a real capacidade do Brasil de sediar eventos de

			tamanha magnitude. A sociedade desconhece os projetos em andamento,

			os recursos públicos que estão sendo investidos e o estágio de cada obra.

			Pensando nisso, a SEA Tecnologia desenvolveu uma ferramenta para que

			qualquer cidadão tenha acesso aos gastos e acompanhe os investimentos nas

			cidades que sediarão a Copa do Mundo 2014.</p>

			<p>A ideia do projeto existe há dois anos, mas somente agora saiu do papel

			e entrou em funcionamento. Todos os dados são fornecidos pela Controladoria

			Geral da União (CGU) e atualizados periodicamente, seguindo a Lei de Acesso

			à Informação (<a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm" target="_blank">Lei 12.527/2012</a>).</p>

			<p>Através de gráficos, tabelas e ilustrações, o OpenCopa – Por debaixo

			dos gramados, apresenta todos os valores referentes as obras de estádios,

			portos, aeroportos, mobilidade urbana e desenvolvimento turístico. Ao navegar

			pelo site, o público encontra, em cada temática de empreendimentos, a

			previsão de gastos, o que já foi contratado e executado para a Copa no Brasil,

			podendo assim, fiscalizar os gastos de todas as obras nas doze cidades-sede

			do país.</p>
			<div id="autor">
				<label>Idealizador:</label> <nome>Wesley Rocha Quirino do Nascimento</nome>
				<a id="linkedin" title="Contato do linkdin" href="http://br.linkedin.com/in/wesleyrocha1/pt" target="_blank" rel="nofollow">Contato do linkdin</a>
				<a id="facebook" title="Contato do facebook" href="https://www.facebook.com/wesley.rocha.q" target="_blank" rel="nofollow">Contato do facebook</a>
				<a id="twitter" title="Contato do twitter" href="https://twitter.com/wesleyrocha" target="_blank" rel="nofollow">Contato do twitter</a>
				<a id="lattes"  title="Currículo Lattes" href="http://lattes.cnpq.br/5660156278323141" target="_blank" rel="nofollow">Currículo Lattes</a>
			</div>
		</div>
	</div>
</div>