<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/main.css" />
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" src="/javascript/tema.js" charset="utf-8"></script>
<% end %>

<% content_for :title do %>
  OpenCopa 2014 - Por debaixo dos gramados
<% end %>

<span style="color: white;">Alguma coisa!</span>