<div class="quadro">
  <div id="estadios">
      <div id="estadios_circulo">
        <div class="porcento_0">0%
          <div class="marcador"></div>
        </div>
        <div class="porcento_50">50%
          <div class="marcador"></div>
        </div>
      </div>
      <h1>Estádios e Arenas</h1>
      <p>Verba prevista: <span id="valor_estadio"></span></p>
      <ul class="legenda">
          <li class="amarelo"><div class="square"></div><span id="porcentagem_estadio_contratado">80</span>% contratado</li>
          <li class="verde"><div class="square"></div><span id="porcentagem_estadio_executado">20</span>% Executado</li>
      </ul>
      <div class="image-title"></div>
      <div id="grafico_estadios" class="grafico_yx"></div>
  </div>
</div>
<div class="quadro">
    <div id="aeroportos">
        <div id="aeroportos_circulo">
          <div class="porcento_0">0%
            <div class="marcador"></div>
          </div>
          <div class="porcento_50">50%
            <div class="marcador"></div>
          </div>
        </div>
        <h1>Aeroportos</h1>
        <p>Verba prevista: <span id="valor_aeroportos"></span></p>
        <ul class="legenda">
            <li class="amarelo"><div class="square"></div><span id="porcentagem_aeroportos_contratado">80</span>% contratado</li>
            <li class="verde"><div class="square"></div><span id="porcentagem_aeroportos_executado">80</span>% Executado</li>
        </ul>                
        <div class="image-title"></div>
        <div id="grafico_aeroportos" class="grafico_yx"></div>
    </div>
</div>
<div class="quadro">
    <div id="mobilidade">
        <div id="mobilidade_circulo">
          <div class="porcento_0">0%
            <div class="marcador"></div>
          </div>
          <div class="porcento_50">50%
            <div class="marcador"></div>
          </div>                  
        </div>
        <h1>Mobilidade Urbana</h1>
        <p>Verba prevista: <span id="valor_mobilidade"></span></p>
        <ul class="legenda">
            <li class="amarelo"><div class="square"></div><span id="porcentagem_mobilidade_contratado">80</span>% contratado</li>
            <li class="verde"><div class="square"></div><span id="porcentagem_mobilidade_executado">80</span>% Executado</li>
        </ul>                
        <div class="image-title"></div>
        <div id="grafico_mobilidade" class="grafico_yx"></div>
    </div>
</div>
<div class="quadro">
    <div id="hotelaria">
        <div id="hotelaria_circulo">
          <div class="porcento_0">0%
            <div class="marcador"></div>
          </div>
          <div class="porcento_50">50%
            <div class="marcador"></div>
          </div>                  
        </div>
        <h1>Hotelaria</h1>
        <p>Verba prevista: <span id="valor_hotelaria"></span></p>
        <ul class="legenda">
            <li class="amarelo"><div class="square"></div><span id="porcentagem_hotelaria_contratado">80</span>% contratado</li>
            <li class="verde"><div class="square"></div><span id="porcentagem_hotelaria_executado">80</span>% Executado</li>
        </ul>                
        <div class="image-title"></div>
        <div id="grafico_hotelaria" class="grafico_yx"></div>
    </div>
</div>
<div class="quadro">
    <div id="seguranca">
        <div id="seguranca_circulo">
          <div class="porcento_0">0%
            <div class="marcador"></div>
          </div>
          <div class="porcento_50">50%
            <div class="marcador"></div>
          </div>                  
        </div>
        <h1>Segurança Pública</h1>
        <p>Verba prevista: <span id="valor_seguranca"></span></p>
        <ul class="legenda">
            <li class="amarelo"><div class="square"></div><span id="porcentagem_seguranca_contratado">80</span>% contratado</li>
            <li class="verde"><div class="square"></div><span id="porcentagem_seguranca_executado">80</span>% Executado</li>
        </ul>                
        <div class="image-title">
        </div>
        <div id="grafico_seguranca" class="grafico_yx"></div>
    </div>
</div>
<div class="quadro">
    <div id="portos">
        <div id="portos_circulo">
          <div class="porcento_0">0%
            <div class="marcador"></div>
          </div>
          <div class="porcento_50">50%
            <div class="marcador"></div>
          </div>
        </div>
        <h1>Portos</h1>
        <p>Verba prevista: <span id="valor_portos"></span></p>
        <ul class="legenda">
            <li class="amarelo"><div class="square"></div><span id="porcentagem_portos_contratado">80</span>% contratado</li>
            <li class="verde"><div class="square"></div><span id="porcentagem_portos_executado">80</span>% Executado</li>
        </ul>                
        <div class="image-title"></div>
        <div id="grafico_portos" class="grafico_yx"></div>
    </div>
</div>
<div style="clear:both"></div>