<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="main.css" />
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" src="javascript/proporcao.js" charset="utf-8"></script>
<% end %>

<% content_for :title do %>
  COPA 2014 transpar&ecirc;ncia em 1&ordm; lugar
<% end %>

<% content_for :menu do %>
  proporcao
<% end %>

<div class="quadro_onterno">
	<div id="clock"></div>
</div>