body{
  background: #000;
}
.top{
  background: url(images/top_fundo_02_03.png) repeat-x center;
  height: 241px;
}
.top_area{
  width: 960px;
  height: 241px;
  position: relative;
  margin: 0 auto;
}
.marca{
  background: url(images/marca_03.png) no-repeat center;
  height: 141px;
  width:306px;
  margin-left: 10px;
}
.menu{
  background: url(images/menu_03.png) no-repeat center;
  height: 100px;
  width:813px;
  position: absolute;
  top: 75px;
  left: 147px;
}
.menu a{
  display:block;
}
.menu .financ{
  background: none;
  position: absolute;
  height: 32px;
  width: 307px;
  top:0;
  left:0;
}
.menu .financ:hover{
  background: url(images/menu_financ_03.png) no-repeat center;
}
.menu .gerais{
  background: none;
  position: absolute;
  height: 32px;
  width: 213px;
  top:0;
  left:307px;
}
.menu .gerais:hover{
  background: url(images/menu_informacoesgerais_03.png) no-repeat center;
}
.menu .legislacao{
  background: none;
  position: absolute;
  height: 32px;
  width: 133px;
  top:0;
  left:520px;
}
.menu .legislacao:hover{
  background: url(images/menu_legislacao_03.png) no-repeat center;
}
.menu .glossario{
  background: none;
  position: absolute;
  height: 32px;
  width: 160px;
  top:0;
  left:653px;
}
.menu .glossario:hover{
  background: url(images/menu_glossario_03.png) no-repeat center;
}
.menu .progresso{
  background: none;
  position: absolute;
  height: 67px;
  width: 199px;
  top: 33px;
  left: 223px;
}
.menu .progresso:hover{
  background: url(images/menu_progresso_03.png) no-repeat center;
}
.menu .valores{
  background: none;
  position: absolute;
  height: 67px;
  width: 191px;
  top: 33px;
  left: 424px;
}
.menu .valores:hover{
  background: url(images/menu_valores_03.png) no-repeat center;
}

.menu_utilitario{
  height: 30px;
  width:350px;
  position: absolute;
  top: 11px;
  right: 0px;
  color: #fff;
}
.menu_utilitario a{
  color: #fff;
  text-decoration: none;
}
.corpo{
  width: 960px;
  position: relative;
  margin: 0 auto;
}
.corpo a{
  display: inline-block;
  height:211px;
  width:464px;
}
.corpo .estadios{
  background: url(images/estadios_03.png) no-repeat center;
  margin: 0 13px 8px 0;
}
.corpo .estadios:hover{
  background: url(images/estadio_on_03.png) no-repeat center;
}
.corpo .mobilidade{
  background: url(images/mobilidade_03.png) no-repeat center;
  margin: 0 0px 8px 13px;
}
.corpo .mobilidade:hover{
  background: url(images/mobilidade_on_03.png) no-repeat center;
}
.corpo .hotel{
  background: url(images/hoteis_03.png) no-repeat center;
  margin: 0 13px 8px 0;
}
.corpo .hotel:hover{
  background: url(images/hoteis_on_03.png) no-repeat center;
}
.corpo .portos{
  background: url(images/portos_03.png) no-repeat center;
  margin: 0 0px 8px 13px;
}
.corpo .portos:hover{
  background: url(images/portos_on_03.png) no-repeat center;
}
.corpo .seguranca{
  background: url(images/seguranca_03.png) no-repeat center;
  margin: 0 13px 8px 0;
}
.corpo .seguranca:hover{
  background: url(images/seguranca_on_03.png) no-repeat center;
}
.corpo .aeroportos{
  background: url(images/aeroportos_03.png) no-repeat center;
  margin: 0 0px 8px 13px;
}
.corpo .aeroportos:hover;{
  background: url(images/aeroportos_on_03.png) no-repeat center;
}
