body{
  background: #000;
  font-family: Verdana,Arial,Serif;
}
.top{
  background: url(../images/top_fundo_02_03.png) repeat-x 50% 100%;
  height: 212px;
}
.top_area{
  width: 960px;
  position: relative;
  margin: 0 auto;
}
.bola{
  background: url(../images/bola.png) no-repeat center;
  height: 114px;
  width: 123px;
  position: absolute;
  top: -9px;
  left: 10px;
  z-index: 1;
}

.menu{
  height: 73px;
  width: 880px;
  position: absolute;
  top: 4px;
  left: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: normal;
}
.menu h1{
  margin: 0px 0 0 47px;
  color: #779E31;
  font-family: Verdana,Arial,Serif;
  font-size: 27px;
  line-height: 14px;
  width: 191px;
  height: 53px;
  padding: 20px 0 0 0;
  border-right: 1px solid white;
}
.menu h1 span{
  font-size: 11px;
}
.menu .legenda{
  background-image: url(../images/legenda.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding: 4px 0 0 25px;
  position: absolute;
  height: 69px;
  width: 197px;
  left: 239px;
  border-left: 1px solid #CAC7C7;
  border-right: 1px solid white;
  text-decoration: none;
  color: #838282;
  margin: 0;
  font-size: 12px;
  list-style: none;
  font-weight: normal;
  top: 0;
}
.menu .legenda li{
  padding: 5px 0 0 0;
}
.menu .legenda span{
  width: 11px;
  display: block;
  height: 11px;
  float: left;
  margin: 2px 4px;
}
.menu .legenda .vermelho span{
  background: #b32a2f;
}
.menu .legenda .amarelo span{
  background: #f1be18;
}
.menu .legenda .verde span{
  background: #39b54a;
}
.menu .investimentos{
  background-image: url(../images/icon_investimento.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding: 19px 0 0 62px;
  position: absolute;
  height: 54px;
  width: 107px;
  top: 0;
  left: 463px;
  border-left: 1px solid #CAC7C7;
  border-right: 1px solid white;
  text-decoration: none;
  color: #838282;
}
.menu .proporcao{
  background-image: url(../images/icon_proporcao.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding: 19px 0 0 62px;
  position: absolute;
  height: 54px;
  width: 90px;
  top: 0;
  left: 634px;
  border-left: 1px solid #CAC7C7;
  border-right: 1px solid white;
  text-decoration: none;
  color: #838282;
}

.menu .download{
  background-image: url(../images/download.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  height: 73px;
  width: 91px;
  top: 0;
  left: 788px;
  border-left: 1px solid #CAC7C7;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.menu .investimentos:hover, .menu .proporcao:hover, .menu .download:hover{
  background-color: #fff;
}
.menu .marcado{
  background-color: #fff;
}
.corpo{
  width: 960px;
  position: relative;
  margin: -80px auto 0;
  display: table;
}
.corpo a{
  display: inline-block;
  height:211px;
  width:464px;
}

.corpo .quadro{
  float: left;
  width: 423px;
  height: 162px;
  background: white;
  margin: 32px 0px 32px 56px;
  padding: 10px 0;
  position: relative;
  -webkit-border-radius: 40px 10px 10px 40px;
  -moz-border-radius: 40px 10px 10px 40px;
  border-radius: 40px 10px 10px 40px;
}
.corpo .quadro div{
  margin: 0;
  position: relative;
  color: #444;
}
.corpo .quadro h1 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 126px;
  top: -51px;
}
.corpo .quadro p {
  font-size: 12px;
  display: block;
  position: absolute;
  top: -9px;
  right: 15px;
  width: 240px;
}
.corpo .quadro .porcento_0{
  position: absolute;
  top: 34px;
  left: 98px;
}
.corpo .quadro .porcento_0 .marcador{
  display: block;
  position: absolute;
  height: 5px;
  width: 2px;
  background: #B32A2F;
  top: -4px;
  right: 50%;
}
.corpo .quadro .porcento_50{
  position: absolute;
  bottom: 34px;
  left: 96px;
}
.corpo .quadro .porcento_50 .marcador{
  display: block;
  position: absolute;
  height: 5px;
  width: 2px;
  background: #B32A2F;
  bottom: -4px;
  right: 49%;
}
.corpo .quadro .legenda{
  padding: 0;
  position: absolute;
  height: 22px;
  width: 258px;
  right: 0px;
  text-decoration: none;
  margin: 0;
  font-size: 12px;
  list-style: none;
  font-weight: normal;
  top: 28px;
}
.corpo .quadro .legenda li{
  padding:0;
  float: left;
}
.corpo .quadro .legenda span{
  width: 11px;
  display: block;
  height: 11px;
  float: left;
  margin: 2px 4px;
}
.corpo .quadro .legenda .amarelo span.square{
  background: #f1be18;
}
.corpo .quadro .legenda .verde span.square{
  background: #39b54a;
}
.corpo .quadro .grafico_yx {
  display: block;
  top: 9px;
  position: absolute;
  right: 11px;
  width: 246px;
  height: 134px;
  margin: 25px 0 0 -8px !important;
}
.corpo #estadios #estadios_circulo, .corpo #aeroportos #aeroportos_circulo, .corpo #mobilidade #mobilidade_circulo, .corpo #hotelaria #hotelaria_circulo,  .corpo #seguranca #seguranca_circulo,  .corpo #portos #portos_circulo{
  background: white;
  position: absolute;
  display: block;
  top: -25px;
  left: -42px;
  padding: 5px;
  height: 204px;
  font-size: 11px;
  -webkit-border-radius: 104px;
  -moz-border-radius: 104px;
  border-radius: 104px;
}
.corpo #estadios #estadios_circulo svg, .corpo #aeroportos #aeroportos_circulo svg, .corpo #mobilidade #mobilidade_circulo svg, .corpo #hotelaria #hotelaria_circulo svg,  .corpo #seguranca #seguranca_circulo svg,  .corpo #portos #portos_circulo svg{
  position: absolute;
  top: 0;
}
.corpo #estadios, .corpo #aeroportos, .corpo #mobilidade, .corpo #hotelaria, .corpo #seguranca, .corpo #portos{
  width: 433px;
  height: 162px;
}
.corpo #estadios .image-title{
  background: url(../images/estadio.png) no-repeat center;
  position: absolute;
  height: 142px;
  width: 142px;
  top: 14px;
  left: -4px;
}
.corpo #aeroportos .image-title{
  background: url(../images/aeroporto.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 108px;
  top: 29px;
  left: 19px;
}
.corpo #mobilidade .image-title{
  background: url(../images/mobilidade.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 108px;
  top: 25px;
  left: 7px;
}
.corpo #hotelaria .image-title{
  background: url(../images/hotelaria.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 108px;
  top: 22px;
  left: 12px;

}
.corpo #seguranca .image-title{
  background: url(../images/seguranca.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 108px;
  top: 24px;
  left: 12px;
}
.corpo #portos .image-title{
  background: url(../images/portos.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 148px;
  top: 32px;
  left: -7px;
}

.quadro svg {
  float: left;
  top: 8px;
}
#rodape{
  clear: both;
  color: white;
  width: 945px;
  margin: 20px auto;
  border-top: 1px dotted #888;
  padding: 10px;
  font-size: 12px;
  display: table;
}
#rodape div{
  float: left;
}
#rodape div label{
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}
#rodape #autor a{
  display: block;
  height: 40px;
  width: 40px;
  font-size: 0;
  float: left;
  padding: 5px 10px 0 0;
}
#rodape #autor a#linkedin {
  background: url(../images/icon_linkedin.png) no-repeat center;
}
#rodape #autor a#facebook{
  background: url(../images/icon_face.png) no-repeat center;
}
#rodape #autor a#twitter{
  background: url(../images/icon_twitter.png) no-repeat center;
}
#rodape #autor a#lattes{
  background: url(../images/icon_lates.png) no-repeat center;
}
#rodape #colaboradores ul {
  margin: 0;
  padding: 0 0 0 17px;
}
#rodape #colaboradores ul li{
  margin: 0px 0px 15px 0px;
}
#rodape #patrocinador{
  width: 112px;
}
#rodape #colaboradores{
  width: 455px;
}
#rodape #autor{
  width: 372px;
}