/* line 8, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
body {
  background: #000;
  font-family: Verdana,Arial,Serif;
}
/* line 12, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.top {
  background: url(/images/top_fundo_02_03.png) repeat-x 50% 100%;
  height: 212px;
}
/* line 16, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.top_area {
  width: 960px;
  position: relative;
  margin: 0 auto;
}
/* line 21, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.bola {
  background: url(/images/bola.png) no-repeat center;
  height: 114px;
  width: 123px;
  position: absolute;
  top: -9px;
  left: 10px;
  z-index: 1;
}
/* line 30, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu {
  height: 73px;
  width: 880px;
  position: absolute;
  top: 4px;
  left: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: normal;
}
/* line 41, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu a {
  text-decoration: none;
}
/* line 43, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu a h1 {
  margin: 0px 0 0 47px;
  color: #779E31;
  font-family: Verdana,Arial,Serif;
  font-size: 27px;
  line-height: 14px;
  width: 191px;
  height: 53px;
  padding: 20px 0 0 0;
  border-right: 1px solid white;
}
/* line 53, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu a h1 .subtitle {
  font-size: 11px;
  margin-top: 11px;
}
/* line 59, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .legenda {
  background-image: url(/images/legenda.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding: 4px 0 0 25px;
  position: absolute;
  height: 69px;
  width: 252px;
  left: 239px;
  border-left: 1px solid #CAC7C7;
  border-right: 1px solid white;
  text-decoration: none;
  color: #838282;
  margin: 0;
  font-size: 12px;
  list-style: none;
  font-weight: normal;
  top: 0;
}
/* line 77, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .legenda li {
  padding: 5px 0 0 0;
}
/* line 79, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .legenda li span {
  width: 11px;
  display: block;
  height: 11px;
  float: left;
  margin: 2px 4px;
}
/* line 87, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .legenda .vermelho span {
  background: #b32a2f;
}
/* line 90, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .legenda .amarelo span {
  background: #f1be18;
}
/* line 93, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .legenda .verde span {
  background: #39b54a;
}
/* line 97, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .investimentos {
  background-image: url(/images/icon_investimento.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding: 28px 0 0 78px;
  position: absolute;
  height: 45px;
  width: 192px;
  top: 0;
  left: 518px;
  border-left: 1px solid #CAC7C7;
  border-right: 1px solid white;
  text-decoration: none;
  color: #838282;
}
/* line 111, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .investimentos:hover {
  background-color: white;
}
/* line 115, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .proporcao {
  background-image: url(/images/icon_proporcao.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding: 19px 0 0 62px;
  position: absolute;
  height: 54px;
  width: 90px;
  top: 0;
  left: 634px;
  border-left: 1px solid #CAC7C7;
  border-right: 1px solid white;
  text-decoration: none;
  color: #838282;
}
/* line 129, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .proporcao:hover {
  background-color: white;
}
/* line 133, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .download {
  background-image: url(/images/download.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  height: 73px;
  width: 91px;
  top: 0;
  left: 788px;
  border-left: 1px solid #CAC7C7;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
/* line 144, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .download:hover {
  background-color: white;
}
/* line 148, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.menu .marcado {
  background-color: #fff;
}
/* line 153, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo {
  width: 960px;
  position: relative;
  margin: -80px auto 0;
  display: table;
}
/* line 158, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo a {
  display: inline-block;
  height: 211px;
  width: 464px;
}
/* line 163, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro {
  float: left;
  width: 423px;
  height: 162px;
  background: white;
  margin: 32px 0px 32px 56px;
  padding: 10px 0;
  position: relative;
  -webkit-border-radius: 40px 10px 10px 40px;
  -moz-border-radius: 40px 10px 10px 40px;
  -ms-border-radius: 40px 10px 10px 40px;
  -o-border-radius: 40px 10px 10px 40px;
  border-radius: 40px 10px 10px 40px;
}
/* line 172, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro a, .corpo .quadro div {
  margin: 0;
  position: relative;
  color: #444;
}
/* line 177, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro h1 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 126px;
  top: -51px;
}
/* line 186, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro p {
  font-size: 12px;
  display: block;
  position: absolute;
  top: -9px;
  right: 15px;
  width: 240px;
}
/* line 194, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro .porcento_0 {
  position: absolute;
  top: 34px;
  left: 98px;
}
/* line 198, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro .porcento_0 .marcador {
  display: block;
  position: absolute;
  height: 5px;
  width: 2px;
  background: #B32A2F;
  top: -4px;
  right: 50%;
}
/* line 208, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro .porcento_50 {
  position: absolute;
  bottom: 34px;
  left: 96px;
}
/* line 212, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro .porcento_50 .marcador {
  display: block;
  position: absolute;
  height: 5px;
  width: 2px;
  background: #B32A2F;
  bottom: -4px;
  right: 49%;
}
/* line 222, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro .legenda {
  padding: 0;
  position: absolute;
  height: 22px;
  width: 258px;
  right: 0px;
  text-decoration: none;
  margin: 0;
  font-size: 12px;
  list-style: none;
  font-weight: normal;
  top: 28px;
}
/* line 234, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro .legenda li {
  padding: 0;
  float: left;
}
/* line 238, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro .legenda .amarelo div.square {
  background: #f1be18;
  width: 11px;
  display: block;
  height: 11px;
  float: left;
  margin: 2px 4px;
}
/* line 246, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro .legenda .verde div.square {
  background: #39b54a;
  width: 11px;
  display: block;
  height: 11px;
  float: left;
  margin: 2px 4px;
}
/* line 255, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro .grafico_yx {
  display: block;
  top: 9px;
  position: absolute;
  right: 11px;
  width: 246px;
  height: 134px;
  margin: 25px 0 0 -8px !important;
}
/* line 264, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo .quadro svg {
  float: left;
  top: 8px;
}
/* line 269, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #estadio #estadio_circulo, .corpo #aeroporto #aeroporto_circulo, .corpo #mobilidade_urbana #mobilidade_urbana_circulo, .corpo #desenvolvimento_turistico #desenvolvimento_turistico_circulo, .corpo #seguranca #seguranca_circulo, .corpo #porto #porto_circulo {
  background: white;
  position: absolute;
  display: block;
  top: -25px;
  left: -42px;
  padding: 5px;
  height: 204px;
  font-size: 11px;
  -webkit-border-radius: 107px;
  -moz-border-radius: 107px;
  -ms-border-radius: 107px;
  -o-border-radius: 107px;
  border-radius: 107px;
  min-width: 204px;
}
/* line 280, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #estadio #estadio_circulo svg, .corpo #aeroporto #aeroporto_circulo svg, .corpo #mobilidade_urbana #mobilidade_urbana_circulo svg, .corpo #desenvolvimento_turistico #desenvolvimento_turistico_circulo svg, .corpo #seguranca #seguranca_circulo svg, .corpo #porto #porto_circulo svg {
  position: absolute;
  top: 0;
}
/* line 285, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #estadio, .corpo #aeroporto, .corpo #mobilidade_urbana, .corpo #desenvolvimento_turistico, .corpo #seguranca, .corpo #porto {
  width: 433px;
  height: 162px;
}
/* line 289, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #estadio .image-title {
  background: url(/images/estadio.png) no-repeat center;
  position: absolute;
  height: 142px;
  width: 142px;
  top: 14px;
  left: -4px;
}
/* line 297, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #quadro_interno #estadio .image-title {
  top: 40px;
  left: 33px;
}
/* line 301, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #aeroporto .image-title {
  background: url(/images/aeroporto.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 108px;
  top: 29px;
  left: 19px;
}
/* line 309, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #mobilidade_urbana .image-title {
  background: url(/images/mobilidade.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 108px;
  top: 25px;
  left: 7px;
}
/* line 317, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #desenvolvimento_turistico .image-title {
  background: url(/images/hotelaria.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 123px;
  top: 22px;
  left: 3px;
}
/* line 325, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #seguranca .image-title {
  background: url(/images/seguranca.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 108px;
  top: 24px;
  left: 12px;
}
/* line 333, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.corpo #porto .image-title {
  background: url(/images/portos.png) no-repeat center;
  position: absolute;
  height: 114px;
  width: 148px;
  top: 32px;
  left: -7px;
}
/* line 343, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape {
  clear: both;
  color: white;
  width: 945px;
  margin: 20px auto;
  border-top: 1px dotted #888;
  padding: 10px;
  font-size: 12px;
  display: table;
}
/* line 352, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape div {
  float: left;
}
/* line 354, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape div label {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 361, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #autor a {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 0;
  float: left;
  padding: 5px 10px 0 0;
}
/* line 369, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #autor a#linkedin {
  background: url(/images/icon_linkedin.png) no-repeat center;
}
/* line 372, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #autor a#facebook {
  background: url(/images/icon_face.png) no-repeat center;
}
/* line 375, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #autor a#twitter {
  background: url(/images/icon_twitter.png) no-repeat center;
}
/* line 378, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #autor a#lattes {
  background: url(/images/icon_lates.png) no-repeat center;
}
/* line 382, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #colaboradores {
  width: 455px;
}
/* line 384, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #colaboradores ul {
  margin: 0;
  padding: 0 0 0 17px;
}
/* line 387, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #colaboradores ul li {
  margin: 0px 0px 15px 0px;
}
/* line 392, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #patrocinador {
  width: 112px;
}
/* line 395, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
#rodape #autor {
  width: 372px;
}
/* line 399, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura {
  border: 8px solid white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: white;
  position: relative;
}
/* line 404, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno {
  background: white url("/images/mapa_brasil.jpg") no-repeat center center;
  width: 950px;
  height: 700px;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
/* line 411, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .circulo {
  top: -30px !important;
  left: -39px !important;
}
/* line 415, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno a {
  display: inline;
  height: initial;
  width: initial;
  text-decoration: none;
  color: #005FC5;
}
/* line 422, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .migalha {
  position: absolute;
  top: -21px;
  left: 105px;
  height: 22px;
  background: white;
  padding: 5px 20px 5px 40px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -ms-border-radius: 0px 20px 20px 0px;
  -o-border-radius: 0px 20px 20px 0px;
  border-radius: 0px 20px 20px 0px;
}
/* line 430, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .migalha a {
  float: left;
}
/* line 432, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .migalha a:hover {
  text-decoration: underline;
}
/* line 437, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno nav {
  position: absolute;
  right: 0;
  top: -55px;
}
/* line 441, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno nav a {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  font-size: 0px;
  height: 70px;
  width: 70px;
  display: inline-block;
  border: 2px solid transparent;
}
/* line 448, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno nav a#but_estadio {
  background: white url(/images/but_estadio.png) no-repeat center;
}
/* line 451, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno nav a#but_aeroporto {
  background: white url(/images/but_aeroporto.png) no-repeat 10px center;
}
/* line 454, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno nav a#but_mobilidade_urbana {
  background: white url(/images/but_mobilidade.png) no-repeat 4px center;
}
/* line 457, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno nav a#but_desenvolvimento_turistico {
  background: white url(/images/but_hotelaria.png) no-repeat center;
}
/* line 460, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno nav a#but_seguranca {
  background: white url(/images/but_seguranca.png) no-repeat center;
}
/* line 463, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno nav a#but_porto {
  background: white url(/images/but_portos.png) no-repeat center;
}
/* line 466, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno nav a:hover {
  border: 2px solid #0664C9;
}
/* line 471, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .porcento_0 {
  position: absolute;
  top: 34px;
  left: 98px;
}
/* line 475, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .porcento_0 .marcador {
  display: block;
  position: absolute;
  height: 5px;
  width: 2px;
  background: #B32A2F;
  top: -4px;
  right: 50%;
}
/* line 485, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .porcento_50 {
  position: absolute;
  bottom: 34px;
  left: 96px;
}
/* line 489, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .porcento_50 .marcador {
  display: block;
  position: absolute;
  height: 5px;
  width: 2px;
  background: #B32A2F;
  bottom: -4px;
  right: 49%;
}
/* line 499, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .cidades {
  background: white;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  position: absolute;
  -webkit-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.6);
}
/* line 507, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .cidades .seta_posicao {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 514, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .cidades .seta_posicao .seta {
  border-width: 0px 8px 18px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  height: 0px;
  width: 0px;
  position: absolute;
  left: 43px;
  top: -16px;
}
/* line 525, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .cidades .texto {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  width: 100px;
  padding: 0 10px;
}
/* line 532, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .cidades .texto h2 {
  font-size: 12px;
}
/* line 537, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .cidades svg {
  top: -1px;
}
/* line 541, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .brasilia {
  top: 261px;
  left: 523px;
}
/* line 544, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .brasilia .seta_posicao {
  -webkit-transform: rotate(134deg);
  -moz-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  -o-transform: rotate(134deg);
  transform: rotate(134deg);
}
/* line 548, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .salvador {
  left: 689px;
  top: 213px;
}
/* line 551, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .salvador .seta_posicao {
  -webkit-transform: rotate(134deg);
  -moz-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  -o-transform: rotate(134deg);
  transform: rotate(134deg);
}
/* line 555, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .porto_alegre {
  top: 574px;
  left: 448px;
}
/* line 558, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .porto_alegre .seta_posicao {
  -webkit-transform: rotate(93deg);
  -moz-transform: rotate(93deg);
  -ms-transform: rotate(93deg);
  -o-transform: rotate(93deg);
  transform: rotate(93deg);
}
/* line 562, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .sao_paulo {
  top: 398px;
  left: 551px;
}
/* line 565, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .sao_paulo .seta_posicao {
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  transform: rotate(140deg);
}
/* line 569, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .rio_de_janeiro {
  top: 468px;
  left: 719px;
}
/* line 572, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .rio_de_janeiro .seta_posicao {
  -webkit-transform: rotate(292deg);
  -moz-transform: rotate(292deg);
  -ms-transform: rotate(292deg);
  -o-transform: rotate(292deg);
  transform: rotate(292deg);
}
/* line 576, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .recife {
  top: 232px;
  left: 841px;
}
/* line 579, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .recife .seta_posicao {
  -webkit-transform: rotate(322deg);
  -moz-transform: rotate(322deg);
  -ms-transform: rotate(322deg);
  -o-transform: rotate(322deg);
  transform: rotate(322deg);
}
/* line 583, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .natal {
  top: 92px;
  left: 841px;
}
/* line 586, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .natal .seta_posicao {
  -webkit-transform: rotate(226deg);
  -moz-transform: rotate(226deg);
  -ms-transform: rotate(226deg);
  -o-transform: rotate(226deg);
  transform: rotate(226deg);
}
/* line 590, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .fortaleza {
  top: 46px;
  left: 685px;
}
/* line 593, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .fortaleza .seta_posicao {
  -webkit-transform: rotate(136deg);
  -moz-transform: rotate(136deg);
  -ms-transform: rotate(136deg);
  -o-transform: rotate(136deg);
  transform: rotate(136deg);
}
/* line 597, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .manaus {
  top: 59px;
  left: 299px;
}
/* line 600, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .manaus .seta_posicao {
  -webkit-transform: rotate(114deg);
  -moz-transform: rotate(114deg);
  -ms-transform: rotate(114deg);
  -o-transform: rotate(114deg);
  transform: rotate(114deg);
}
/* line 604, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .curitiba {
  top: 547px;
  left: 591px;
}
/* line 607, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .curitiba .seta_posicao {
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 611, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .cuiaba {
  top: 364px;
  left: 399px;
}
/* line 614, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .cuiaba .seta_posicao {
  -webkit-transform: rotate(31deg);
  -moz-transform: rotate(31deg);
  -ms-transform: rotate(31deg);
  -o-transform: rotate(31deg);
  transform: rotate(31deg);
}
/* line 618, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .belo_horizonte {
  top: 345px;
  left: 698px;
}
/* line 621, /Users/celio/SEA/workspace/copa2014/config/../views/../assets/stylesheet/main.scss */
.quadro_moudura .quadro_interno .belo_horizonte .seta_posicao {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}